.test
{
    margin-top: 100%;
}
@media (min-width: 768px)
{

    .form-inline .form-group
    {
        padding-right: 5%;
    }
}
.searchTerm
{
    margin-bottom: 2%;
}

.date
{
    background-color: #F2F0F2;
    padding: 2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}