<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="6k185Arts4ConnectionString" connectionString="Data Source=apollo.biz.uiowa.edu;Initial Catalog=6k185Arts4;Persist Security Info=True;User ID=6k185Arts4;Password=Boiler11" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>